.content {
    background-color: lightgray;
    margin: 0 auto;
}

.user_post {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
}



